.subscribe-to-calendar-dropdown {
	margin: var(--tec-spacer-7) auto !important;
	position: relative;
	display: flex;
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector {
	margin-left: auto;
	position: relative;
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector-button {
	outline: none;
	width: auto;
	font-family: var(--tec-font-family-sans-serif);
	font-size: var(--tec-font-size-2);
	line-height: var(--tec-line-height-3);
	font-weight: var(--tec-font-weight-bold);
	border: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: auto;
	padding: 0;
	text-decoration: none;
	width: auto;
	border-radius: var(--tec-border-radius-default);
	color: var(--tec-color-background) !important;
	text-align: center;
	transition: var(--tec-transition-background-color);
	background-color: var(--tec-color-button-primary) !important;
	padding: 11px 20px;
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector-button:hover {
	background-color: var(--tec-color-button-primary-hover) !important;
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-svgicon {
	color: var(--tec-color-background);
	display: inline-block;
	height: 6px;
	margin-left: var(--tec-spacer-1);
	width: 10px;
	vertical-align: middle;
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector-button-active .subscribe-to-calendar-dropdown-svgicon {
	transform: rotate(180deg);
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-svgicon .subscribe-to-calendar-dropdown-svgicon-fill {
	fill: var(--tec-color-background);
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector-content {
	display: none;
	box-shadow: var(--tec-box-shadow-default);
	right: 0;
	padding: var(--tec-spacer-1);
	transform: translateY(var(--tec-spacer-1));
	width: 100%;
	background-color: var(--tec-color-background-view-selector);
	border: 1px solid var(--tec-color-border-secondary);
	border-radius: var(--tec-border-radius-default);
	position: absolute;
	top: 100%;
	z-index: var(--tec-z-index-dropdown);
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector-content .subscribe-to-calendar-dropdown-selector-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector-content .subscribe-to-calendar-dropdown-selector-list .subscribe-to-calendar-dropdown-selector-list-item:hover {
	background-color: var(--tec-color-background-secondary);
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector-content .subscribe-to-calendar-dropdown-selector-list .subscribe-to-calendar-dropdown-selector-list-item .subscribe-to-calendar-dropdown-selector-list-item-link {
	padding: var(--tec-spacer-0) var(--tec-spacer-7) var(--tec-spacer-0) var(--tec-spacer-3);
	border-radius: var(--tec-border-radius-default);
	color: var(--tec-color-text-primary);
	outline: 0;
	align-items: center;
	display: flex;
	text-decoration: none;
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector-content .subscribe-to-calendar-dropdown-selector-list .subscribe-to-calendar-dropdown-selector-list-item .subscribe-to-calendar-dropdown-selector-list-item-link .subscribe-to-calendar-dropdown-selector-list-item-text {
	font-family: var(--tec-font-family-sans-serif);
	font-size: var(--tec-font-size-2);
	line-height: var(--tec-line-height-3);
	font-weight: var(--tec-font-weight-regular);
	color: var(--tec-color-text-primary);
}

.subscribe-to-calendar-dropdown .subscribe-to-calendar-dropdown-selector-content .subscribe-to-calendar-dropdown-selector-list .subscribe-to-calendar-dropdown-selector-list-item:hover .subscribe-to-calendar-dropdown-selector-list-item-link .subscribe-to-calendar-dropdown-selector-list-item-text {
	font-weight: 700;
}
